﻿@model IEnumerable<koy.users>

@{
    ViewBag.Title = "kullanicilar";
    Layout = "~/Views/admin_layout.cshtml";
}

<h2>kullanicilar</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Email:
                </th>
                <th>
                    Kullanici Rolü
                </th>

            </tr>
        </thead>
            @foreach (users item in ViewBag.liste)
            {
                <tr>
                    <td>
                        @item.email
                    </td>
                    <td>
                        @item.rolu
                    </td>


                </tr>
            }

</table>
    </div>