﻿@model IEnumerable<koy.makaleler>

@{
    ViewBag.Title = "makaleler";
    Layout = "~/Views/admin_layout.cshtml";
}

<h2>Gelen Makaleler</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Makale Adı
                </th>
                <th>
                    Email
                </th>

                <th>İndir</th>
            </tr>
            </thead>
            @foreach (makaleler item in ViewBag.liste)
            {
                <tr>
                    <td>
                        @item.FileName
                    </td>
                    <td>
                        @item.email
                    </td>
                   
                    <td>

                       @Html.ActionLink("İndir", "download",new { id=item.id});

                    </td>
                   
                </tr>
            }

</table>
    </div>