﻿@model koy.users

@{
    ViewBag.Title = "AfterLogin";
    
}
<br />
<br />


<!DOCTYPE html>

<html>


<head>
   
    <style>
    .footer {
            position: fixed;
            bottom: 0;

            width: 100%;

            height: 50px;
            background-color:gray;
            text-align:center;
        }
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height:150%;

    }

    /* Set black background color, white text and some padding */


    /* On small screens, set height to 'auto' for sidenav and grid */
    
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <form id="form1" >
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                       
                    </ul>




                    <ul class="nav navbar-nav navbar-right">

                        @if (Session["LogedUserFullname"] != null)
                        {
                            <li class="dropdown" id="dropdown-login-div">
                                @Html.ActionLink("çıkış", "logoff", "home")
                            </li>
                            <li class="dropdown" id="dropdown-login-div">
                                <a>@Session["LogedUserFullname"].ToString()</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown" id="dropdown-login-div">
                                <a class="dropdown-toggle" href="~/home/login">Giriş</a>


                                <a href="~/home/register">Üye Ol</a>

                            </li>
                        }

                    </ul>

                </div>
            </div>
        </div>
        <br /><br />

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                   @Html.ActionLink("Hakkımızda", "", "");
                    
                    <p><a href="#">İletişim</a></p>
                    <p><a href="#">Yayınlanan Makaleler</a></p>
                    <p><a href="#">Yazarlar İçin Bilgi</a></p>
                </div>
                <div class="col-sm-8 text-left">
                   @RenderBody(){ 
                    
                    
                    }
                </div>
               
            </div>



        </div>


        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Ahmet Çelik</p>
        </footer>
    </form>
</body>
</html>