﻿@model koy.makaleler

@{
    ViewBag.Title = "makaleTuru";
    Layout = "~/Views/layout.cshtml";
}
@{ 






}
<h2>makaleTuru</h2>
@using (Html.BeginForm("makaleTuru", "home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4></h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.fullBaslik, new { @class = "col-md-2 control-label",@id="baslik" })
        <div class="col-md-10">
            @Html.TextAreaFor(m=>m.fullBaslik,"Full Başlık:")
            
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.makaleTuru,"Makale Turu:", new { @class = "col-md-2 control-label",@id="turu" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.makaleTuru, new List<SelectListItem>
    {
                        new SelectListItem() {Text = "g", Value="Exemplo1"},
                        new SelectListItem() {Text = "b", Value="Exemplo2"},
                        new SelectListItem() {Text = "c", Value="Exemplo3"}
    })
            
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="gönder" />
            
            
        </div>
    </div>
}
